- if @portability_request.requested_by == 'api'
  %p
    = t('.requested_by_api')
- else
  %p
    = t('.requested_by_user')
%p
  = t('.content')
%p
  = link_to  t('.download_link'), @link
%p
  = t('.link_expiration')
