.container.pb-4
  - if @terms.any?
    %h2.font-weight-bold
      = resource_class.model_name.human.pluralize
      - if can? :new, PolicyManager::Term
        .float-right
          = link_to t('new'), new_term_path, class: 'btn btn-primary'
  - else
    %h2.font-weight-bold.text-center
      = t('no_terms')
    .text-center
      - if can? :new, PolicyManager::Term
        = link_to t('new'), new_term_path, class: 'btn btn-primary m-auto'
  .row
    - if PolicyManager::Config.is_admin?(@current_user)
      - @terms.group_by(&:state).each do |state, terms|
        %h3.font-weight-bold
          = t(".#{state}")
        - terms.each do |t|
          .col-sm-12
            %ul.list-group-item.mt-4{t.published? ? {} : {style: 'opacity: 0.7'}}
              %h3.font-weight-bold= link_to t.terms_translation.title, term_path(t)
              %hr
              .d-flex
                .col-8
                  = l(t.updated_at)
                  = t.kind
                  = t.state
                  - if t.signed_by? @current_user
                    %span.text-success
                      = PolicyManager::UsersTerm.human_attribute_name(:signed_at)
                      = l @current_user.users_terms.where(term: t).first.signed_at
                .col-4.d-flex.flex-row-reverse
                  - if can? :sign, t
                    = button_to t('policy_manager_sign'), sign_term_path(t), class: 'btn btn-success'
                  = button_to t('publish'), publish_term_path(t), class: 'btn btn-success' if can? :publish, t
                  = button_to t('archive'), archive_term_path(t), class: 'btn btn-danger' if can? :archive, t
                  = link_to t('edit'), edit_term_path(t), class: 'btn btn-warning' if can? :archive, t
    - else
      - @terms.each do |t|
        .col-sm-12
          %ul.list-group-item.mt-4
            %h3.font-weight-bold= link_to t.terms_translation.title, term_path(t)
            %hr
            .d-flex
              .col-6
                = l(t.updated_at)
                - if t.signed_by? @current_user
                  %span.text-success
                    = PolicyManager::UsersTerm.human_attribute_name(:signed_at)
                    = l @current_user.users_terms.where(term: t).first.signed_at
              .col-6.d-flex.flex-row-reverse
                - if can? :sign, t
                  = button_to t('sign'), sign_term_path(t), class: 'btn btn-success'
