!!! 5
%html(lang="en"){style: "min-height: 100%;"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0")
    %meta{:content => "yes", :name => "mobile-web-app-capable"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "translucent-black", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "Intranet 42", :name => "apple-mobile-web-app-title"}
    %meta{:content => "on", "http-equiv" => "cleartype"}

    %link{:rel => "icon", :type => "image/svg", :href => asset_url("42_logo_black.png")}
    %link{:rel => "shortcut icon", :type => "image/svg", :href => asset_url("42_logo_black.png")}
    = javascript_include_tag "policy_manager/application", debug: false
    = stylesheet_link_tag "policy_manager/application", :media => "all"
    = stylesheet_link_tag PolicyManager::Config.stylesheet, :media => "all"
    = csrf_meta_tags
    %body.text-dark.bg-white.h-100.mb-0.pb-4{style: "background: #fff; min-height: 100%;"}
      .jumbotron.bg-white.py-3
        .container.d-flex.justify-content-center
          %h4.font-weight-bold.mx-4= link_to PolicyManager::Term.model_name.human.pluralize, terms_path
          %h4.font-weight-bold.mx-4= link_to PolicyManager::PortabilityRequest.model_name.human.pluralize, portability_requests_path, {class: can?(:index, PolicyManager::PortabilityRequest) ? '' : 'text-muted'}
          %h4.font-weight-bold.mx-4= link_to PolicyManager::AnonymizeRequest.model_name.human.pluralize, anonymize_requests_path, {class: can?(:index, PolicyManager::AnonymizeRequest) ? '' : 'text-muted'}
          - if @current_user and (@current_user.try(:login) || @current_user.try(:email))
            %h4.mx-4
              = t('logged_as')
              %b
                = "#{@current_user.try(:login) || @current_user.try(:email)}"
      .container
        - flash.each do |key, v|
          %div{class: "alert alert-#{key == 'error' ? 'danger' : 'primary'} alert-dismissible fade in show"}
            = v
            %button.close{data: {dismiss: 'alert', label: 'close'}}
              %span{aria: {hidden: true}}
                &times;
      = yield
